@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');
/* base styles */
* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}
.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}
.navbar h1 {
  color: #f1356d;
}
.navbar .links {
  margin-left: auto;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
.navbar a:hover, .not-found a:hover{
  color: #f1356d;
}
.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}
/* blog previews / list */
.blog-preview {
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 1px solid #fafafa;
}
.blog-preview:hover {
  box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
}
.blog-preview h2, .not-found h2{
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 8px;
}

.blog-preview a, .not-found a{
  text-decoration: none;
}

/* blog details page */
.blog-details h2, .questionBlogDetail h2 {
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 10px;
}
.blog-details div{
  margin: 20px 0;
}
.blog-details button, .thankyou button, .addidPage button{
  background: #f1356d;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}

/* create new blog form */
.create, .not-found, .questionBlogDetail{
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}
.create label, .questionBlogDetail label {
  text-align: left;
  display: block;
}
.create h2, .questionBlogDetail h2{
  font-size: 20px;
  margin-bottom: 30px;
}
.create input, .create textarea, .create select, .questionBlogDetail input, .questionBlogDetail textarea, .questionBlogDetail select {
  width: 85%;
  padding: 6px 10px;
  margin: 10px 0 0 10px;
  border: 1px solid #ddd;
  box-sizing: border-box;
  
}
.create button, .home button, .questionBlogDetail button {
  background: #f1356d;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}

.pull-left{
  float: left;
}
.pull-right{
  float: right;
}
.clear{
  clear: both;
}

input.wrongPassword{
  border-color: red;
}

input.okay{
  background-color : rgb(208, 255, 208); 
}

input.notOkay{
  background-color : rgb(255, 215, 205); 
}
.questionBlogDetail input[type="checkbox"],
.questionBlogDetail input[type="radio"]{
  display: inline;
  width: 20%;
  padding-top: 0;
}

input[type="radio"].checkmark{
   appearance: none;
   border: 1px solid #d3d3d3;
   width: 22px;
   height: 22px;
   content: none;
   outline: none;
   margin: 5px 0 0 0;
   top: 4px;
   position: relative;
   left: 10px;
}

input[type="radio"]:checked.checkmark {
  appearance: none;
  outline: none;
  padding: 0;
  content: none;
  border: none;
}

input[type="radio"]:checked.checkmark::before{
  position: absolute;
  color: green !important;
  content: "\00A0\2713\00A0" !important;
  border: 1px solid #d3d3d3;
  font-weight: bolder;
  font-size: 16px;
}

